{% extends '::base.html.twig' %}

{% block content %}
    {% for article in articles %}
        {% if article.articleIspublished %}
            <p><h2><a href="{{ path('article_post', {'id':article.id}) }}">{{ article.articleTitle }}</a></h2></p>
            <p><strong>{{ article.articleDate | date("Y-m-d") }}</strong></p>
            <p>{{ article.articleText }}</p>
        {% endif %}
    {% endfor %}
{% endblock content %}