{% extends '::base.html.twig' %}

{% block content %}
    <p><h2>{{ article.articleTitle }}</h2></p>
    <p><strong>{{ article.articleDate | date("Y-m-d") }}</strong></p>
    <p>{{ article.articleText }}</p>
{% endblock %}

