<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'css/bootstrap.min.css'
            'css/jquery-ui.min.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts_top %}
            {% javascripts
            'js/jquery-1.11.3.js'
            'js/jquery-ui.min.js'
            'js/bootstrap.min.js'
            output='js/compiled/app.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}
        <div class="container">
            <div class="row">
                {% block headline %}{{ include("::headline.html.twig") }}{% endblock headline %}
                {% block content %}{% endblock content %}
            </div>
        </div>
        {% block sidebar %}{% endblock sidebar %}
        {% block footer %}{% endblock footer %}
    {% endblock body%}
    {% block javascripts_bottom %}{% endblock %}
    </body>
</html>
